

header{
    @include header;
}

main{
    margin: 0px 30px;
    display: grid;
    align-content: center;
    row-gap: 10px;
    h1{
        text-align: center;
    }
    p{
        margin-top: 20px;
        color: $color-white;
    }
    .familia{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

footer{
    @include footer;
    
    .buttom{
        margin-top: 30px;
        color:$color-white;
        border: $color-white;
        display: grid;
        align-content:end;
        animation: bounceIn;
        animation-duration: 5s
    }
}
