@mixin header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav{
        ul{
            display: flex;
            gap: 10px;
            margin-right: 20px;
            li{
                list-style: none;
                margin-top: 10px;
                a{
                    color: $color-letra;
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-weight: 300;
                    font-style: normal;
                }
            }
        }
    }
}

@mixin footer{
    margin-top: 100px;
    display: inline;
    text-align: center;
    p{
        margin-top: 30px;
    }
}